.answers {
  padding: 60px 0;
  &__container {
    margin: 0 auto;
    width: 327px;
  }
  &__header {
    margin-bottom: 60px;
  }
  &__title {
    color: var(--Neutrals-1000, #030527);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;
  }
  &__subtitle {
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    line-height: 140%;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  &__item {
    border-radius: 16px;
    border: 1px solid var(--Neutrals-200, #efefef);
    background: var(--Base-White, #fff);
    box-shadow: 0 4px 24px 0 rgba(100, 211, 194, 0.08),
      0 4px 14px 0 rgba(100, 211, 194, 0.04);
    padding: 16px 9px;
  }
  &__item-header {
    width: 327px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__header-text {
    color: var(--Neutrals-900, #0d1525);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
  }
  &__header-svg-plus {
    width: 24px;
    height: 24px;
  }
  &__header-svg-minus {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
  &__content {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
}
