.answers {
  padding: 60px 0;
  &__container {
    margin: 0 auto;
    width: 327px;
  }
  &__header {
    margin-bottom: 60px;
  }
  &__title {
    color: var(--Neutrals-1000, #030527);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;
  }
  &__subtitle {
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    line-height: 140%;
    margin: 0 auto;
  }
  &__container-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__item {
    border-radius: 16px;
    border: 1px solid var(--Neutrals-200, #efefef);
    background: var(--Base-White, #fff);
    box-shadow: 0 4px 24px 0 rgba(100, 211, 194, 0.08),
      0 4px 14px 0 rgba(100, 211, 194, 0.04);
    padding: 16px 9px;
    position: relative;
  }

  &__item:focus-within {
    .answers__content {
      position: static;
      width: auto;
      height: auto;
      margin-top: 16px;
      overflow: visible;
      clip: auto;
      white-space: normal;

      color: var(--Neutrals-700, #4a4f62);
      font-family: Inter;
      font-size: 16px;
      line-height: 140%;
    }

    .answers__header-svg-plus {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      white-space: nowrap;
    }

    .answers__header-svg-minus {
      position: static;
      width: 24px;
      height: 24px;
      margin: 0;
      overflow: visible;
      clip: auto;
      white-space: normal;
    }
  }

  &__item-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__header-text {
    color: var(--Neutrals-900, #0d1525);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
  }
  &__header-svg-plus {
    width: 24px;
    height: 24px;
  }
  &__header-svg-minus {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
  &__content {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
}

@media (min-width: 1024px) {
  .answers {
    &__container {
      width: 920px;
    }
    &__title {
      font-size: 48px;
      line-height: 120%;
    }
    &__container-list {
      flex-direction: row;
      gap: 20px;
    }
    &__item {
      padding: 16px 10px;
      width: 450px;
    }
  }
}
