.blog-header {
    padding: 40px 24px;
}

.blog-header__container {
    margin-top: 64px;
}

.subscribe {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 48px;
    background: #fff;
    padding: 6px;
    border-radius: 999px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);

    &__field {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0 14px;
        color: #525B5A;
        font-family: Inter;
        font-size: 12px;
    }

    &__icon {
        font-size: 17px;
        opacity: 0.7;
    }

    input {
        border: none;
        outline: none;
        font-size: 14px;
        width: 100%;
        color: #525B5A;
        font-family: Inter;
        font-size: 12px;
    }

    &__btn {
        border: none;
        cursor: pointer;

        padding: 10px 20px;
        border-radius: 999px;

        background: #5cc3b3;
        color: #fff;
        font-weight: 600;
        font-size: 14px;

        &:hover {
            background: darken(#5cc3b3, 7%);
        }
    }
}