.analytics {
  padding: 40px 0;

  &__container {
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    @media (min-width: 1024px) { width: 928px; }
    @media (min-width: 1280px) { width: 1120px; }
    @media (min-width: 1440px) { width: 1280px; }
    @media (min-width: 1920px) { width: 1392px; }
  }

  &__header { margin-bottom: 59px; }

  &__title {
    color: $neutral-900;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;

    @media (min-width: 1024px) { font-size: 48px; line-height: 120%; }
    @media (min-width: 1920px) { font-size: 60px; font-weight: 700; line-height: 103%; }
  }

  &__subtitle {
    color: $neutral-800;
    text-align: center;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 140%;

    @media (min-width: 1024px) { width: 564px; }
    @media (min-width: 1920px) { font-size: 20px; }
  }

  &__grid {
    display: grid;
    row-gap: 20px;

    @media (min-width: 1024px) {
      grid-template-columns: 270px 234px 104px 270px;
      grid-template-rows: 258px 258px;
      gap: 16px;
      grid-template-areas:
        "green green imageTop imageTop"
        "imageL blue blue imageR";
    }
    @media (min-width: 1280px) {
      grid-template-columns: 326px 281px 124px 326px;
      grid-template-rows: 312px 312px;
      gap: 20px;
    }
    @media (min-width: 1440px) {
      grid-template-columns: 356px 312px 124px 356px;
      grid-template-rows: 346px 346px;
      gap: 20px;
    }
    @media (min-width: 1920px) {
      grid-template-columns: 402px 331px 137px 402px;
      grid-template-rows: 358px 346px;
      gap: 40px;
    }
  }

  &__card {
    border-radius: 16px;

    @media (min-width: 1024px) { border-radius: 14px; overflow: hidden; }
  }

  &__card--green {
    padding: 20px 9px 20px 8px;
    background: linear-gradient(180deg, $gradient-start 42.63%, $gradient-end 155.06%);

    @media (min-width: 1024px) { grid-area: green; padding: 24px 20px; }
    @media (min-width: 1280px) { padding: 30px 24px; }
    @media (min-width: 1440px) { padding: 43px 30px; }
    @media (min-width: 1920px) { padding: 53px 50px 53px 56px; }
  }

  &__card--blue {
    background: $bg-blue;
    padding: 20px 9px 20px 8px;

    @media (min-width: 1024px) { grid-area: blue; padding: 16.399px 12.628px 15.058px 13.258px; }
    @media (min-width: 1440px) { padding: 52px 30px 51px 30px; }
  }

  &__card-title {
    color: $white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;

    @media (min-width: 1024px) { font-size: 26px; margin-bottom: 20px; }
    @media (min-width: 1280px) { font-size: 32px; margin-bottom: 24px; }
  }

  &__card-text {
    color: $white;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 40px;

    @media (min-width: 1024px) { font-size: 14px; margin-bottom: 50px; }
    @media (min-width: 1280px) { font-size: 18px; margin-bottom: 60px; }
    @media (min-width: 1920px) { font-size: 18px; }
  }

  &__btn {
    width: 143px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 13px 12px;
    border-radius: 30px;
    border: 1px solid $neutrals-200;
    background: $white;
    color: $neutral-900;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    transition: all 0.3s ease;

    &:hover { transform: scale(1.05); }

    @media (min-width: 1024px) { padding: 10px; gap: 4px; border-radius: 24px; font-size: 14px; }
    @media (min-width: 1280px) { width: 143px; padding: 13px 12px; border-radius: 30px; font-size: 16px; }
  }

  &__btn-svg {
    width: 20px;
    height: 20px;

    @media (min-width: 1024px) { width: 16.571px; height: 16.571px; }
  }

  &__card--image-top {
    height: 226.284px;
    background: url(../image/home-image/analytics/analytics-grany.jpg) lightgray 50% / cover no-repeat;

    @media (min-width: 1024px) { grid-area: imageTop; width: 100%; height: 100%; }
  }

  &__card--image-bottom-first {
    height: 317.815px;
    background: url(../image/home-image/analytics/analytics-instrument.jpg) lightgray 50% / cover no-repeat;

    @media (min-width: 1024px) { grid-area: imageL; width: 100%; height: 100%; }
  }

  &__card--image-bottom-second {
    height: 317.815px;
    background: url(../image/home-image/analytics/analytics-hand.jpg) lightgray 50% / cover no-repeat;

    @media (min-width: 1024px) { grid-area: imageR; width: 100%; height: 100%; }
  }
}
