// .analytics {
//   padding: 40px 0;

//   &__container {
//     max-width: calc(520px + 390px + 270px + 32px);
//     margin: 0 auto;
//   }

//   &__header {
//     text-align: center;
//     margin-bottom: 40px;
//   }

//   &__title {
//     font-size: 40px;
//     font-weight: 700;
//     margin-bottom: 16px;
//   }

//   &__subtitle {
//     max-width: 620px;
//     margin: 0 auto;
//     color: #475569;
//   }

//   &__grid {
//     display: grid;
//     grid-template-columns: 520px 390px 270px;
//     grid-template-rows: 253px 258px;
//     gap: 16px;
//   }

//   &__card {
//     border-radius: 14px;
//     overflow: hidden;
//   }

//   /* GREEN */
//   &__card--green {
//     grid-column: 1 / 2;
//     grid-row: 1 / 2;
// padding: 24px 20px;
// gap: 8px;
// border-radius: 13.257px;
// background: linear-gradient(180deg, #6AD4C3 42.63%, #DCEFD6 155.06%);
//   }

//   /* IMAGE TOP */
//   &__card--image-top {
//     grid-column: 2 / 4;
//     grid-row: 1 / 2;
//     width: 390px;
// height: 258px;
//   }

//   /* IMAGE SMALL */
//   &__card--image-small {
//     img {
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//       display: block;
//     }
//   }

//   /* BLUE */
//   &__card--blue {
//     grid-column: 2 / 3;
//     grid-row: 2 / 3;
// border-radius: 14px;
// background: var(--BG-BG-4, #007ECD);
// padding: 16.399px 12.628px 15.058px 13.258px;

//   }

//   &__btn {

//   }
//   &__btn-svg{
//   }

//   /* MOBILE */
//   @media (max-width: 1100px) {
//     &__grid {
//       grid-template-columns: 1fr;
//       grid-template-rows: auto;
//     }

//     &__card--blue {
//       width: 100%;
//     }
//   }
// }

.analytics {
  padding: 40px 0;
  &__container {
    width: 327px;
    margin: 0 auto;
  }
  &__header {
  }
  &__title {
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;
  }
  &__subtitle {
    color: var(--Neutrals-800, #181B39);
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
  }
  &__grid {
  }
  &__card {
  }
  &__card--green {
  }
  &__btn {
  }
  &__btn-svg {
  }
  &__card--image-top {
  }
  &__card--image-small {
  }
  &__card--blue {
  }
}
