.analytics {
  padding: 40px 0;
  &__container {
    width: 327px;
    margin: 0 auto;
  }
  &__header {
    margin-bottom: 59px;
  }
  &__title {
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;
  }
  &__subtitle {
    color: var(--Neutrals-800, #181b39);
    text-align: center;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 140%;
  }
  &__grid {
    display: grid;
    row-gap: 20px;
  }
  &__card {
    border-radius: 16px;
  }

  &__card--green {
    padding: 20px 9px 20px 8px;
    background: linear-gradient(180deg, #6ad4c3 42.63%, #dcefd6 155.06%);
  }
  &__card-title {
    color: var(--Base-White, #fff);
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;
  }
  &__card-text {
    color: var(--Base-White, #fff);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 40px;
  }

  &__btn {
    width: 143px;
    display: flex;
    padding: 13px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 30px;
    border: 1px solid var(--Neutrals-200, #efefef);
    background: var(--Base-White, #fff);
    color: var(--Neutrals-900, #0d1525);
    text-align: center;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__btn-svg {
    width: 20px;
    height: 20px;
  }
  &__card--image-top {
    width: 327px;
    height: 226.284px;
    background: url(../image/home-image/analytics/analytics-grany.jpg) lightgray
      50% / cover no-repeat;
  }
  &__card--image-bottom-first {
    width: 327px;
    height: 317.815px;
    background: url(../image/home-image/analytics/analytics-instrument.jpg)
      lightgray 50% / cover no-repeat;
  }
  &__card--blue {
    background: var(--BG-BG-4, #007ecd);
    padding: 20px 9px 20px 8px;
  }
  &__card--image-bottom-second {
    width: 327px;
    height: 317.815px;
    background: url(../image/home-image/analytics/analytics-hand.jpg) lightgray
      50% / cover no-repeat;
  }
}

@media (min-width: 1024px) {
  .analytics {
    &__container {
      width: 928px;
    }
    &__title {
      font-size: 48px;
      font-weight: 600;
      line-height: 120%;
    }
    &__subtitle {
      width: 564px;
    }
    &__grid {
      display: grid;
      grid-template-columns: 270px 234px 104px 270px;
      grid-template-rows: 258px 258px;
      gap: 16px;
      grid-template-areas:
        "green green imageTop imageTop"
        "imageL blue blue imageR";
    }
    &__card {
      border-radius: 14px;
      overflow: hidden;
    }

    &__card--green {
      grid-area: green;
      padding: 24px 20px;
    }
    &__card-title {
      font-size: 26px;
      margin-bottom: 20px;
    }
    &__card-text {
      font-size: 14px;
      line-height: 140%;
      margin-bottom: 50px;
    }

    &__btn {
      width: 118px;
      padding: 10px;
      gap: 4px;
      border-radius: 24px;
      font-size: 14px;
    }
    &__btn-svg {
      width: 16.571px;
      height: 16.571px;
    }
    &__card--image-top {
      grid-area: imageTop;
      width: 100%;
      height: 100%;
    }
    &__card--image-bottom-first {
      grid-area: imageL;
      width: 100%;
      height: 100%;
    }
    &__card--blue {
      grid-area: blue;
      padding: 16.399px 12.628px 15.058px 13.258px;
    }
    &__card--image-bottom-second {
      grid-area: imageR;
      height: 100%;
      width: 100%;
    }
  }
}

@media (min-width: 1280px) {
  .analytics {
    padding: 80px 0;
    &__container {
      width: 1120px;
    }

    &__grid {
      display: grid;
      grid-template-columns: 326px 281px 124px 326px;
      grid-template-rows: 312px 312px; 
      gap: 20px;
      grid-template-areas:
        "green green imageTop imageTop"
        "imageL blue blue imageR";
    }
    &__card {
      border-radius: 16px;
    }

    &__card--green {
      padding: 30px 24px;
    }
    &__card-title {
      font-size: 32px;
      margin-bottom: 24px;
    }
    &__card-text {
      font-size: 18px;
      margin-bottom: 60px;
    }

    &__btn {
      width: 143px;
      padding: 13px 12px;
      border-radius: 30px;
      font-size: 16px;
    }
    &__btn-svg {
      width: 20px;
      height: 20px;
    }
    &__card--blue {
      padding: 35px 16px 34px 16px;
    }
  }
}

@media (min-width: 1440px) {
  .analytics {
    padding: 80px 0;
    &__container {
      width: 1280px;
    }

    &__grid {
      display: grid;
      grid-template-columns: 356px 312px 124px 356px;
      grid-template-rows: 346px 346px;
      gap: 20px;
      grid-template-areas:
        "green green imageTop imageTop"
        "imageL blue blue imageR";
    }
    &__card {
      border-radius: 16px;
    }

    &__card--green {
      padding: 43px 30px;
    }

    &__card--blue {
      padding: 52px 30px 51px 30px;
    }
  }
}

@media (min-width: 1920px) {
  .analytics {
    &__container {
      width: 1392px;
    }
    &__title {
      font-size: 60px;
      font-weight: 700;
      line-height: 103%;
    }
    &__subtitle {
      font-size: 20px;
    }
    &__grid {
      grid-template-columns: 402px 331px 137px 402px;
      grid-template-rows: 358px 346px;
      gap: 40px;
      grid-template-areas:
        "green green imageTop imageTop"
        "imageL blue blue imageR";
    }

    &__card--green {
      padding: 53px 50px 53px 56px;
    }
    &__card-text {
      font-size: 18px;
    }
  }
}
