.article {
  padding: 40px 0;
  &__container {
    margin: 0 auto;
    width: 327px;
  }
  &__header {
    margin-bottom: 40px;
  }
  &__title {
    color: var(--Neutrals-1000, #030527);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;
  }
  &__subtitle {
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    line-height: 140%;
    margin: 0 auto;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    margin-bottom: 40px;
  }
  &__card {
    padding-bottom: 24px;
  }
  &__card-img {
    border-radius: 12px 12px 0 0;
    width: 327px;
    height: 220px;
    margin-bottom: 16px;
  }
  &__card-control {
    display: flex;
    gap: 6px;
    margin-bottom: 16px;
  }
  &__card-svg {
    width: 18px;
    height: 18px;
    padding: 0.938px 2.438px;
  }
  &__card-control-text {
    color: var(--Neutrals-900, #0d1525);
    font-family: Inter;
    font-size: 14px;
    line-height: 140%;
  }
  &__card-title {
    color: var(--Neutrals-800, #181b39);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 16px;
  }
  &__card-text {
    overflow: hidden;
    color: var(--Neutrals-600, #7c8483);
    font-family: Inter;
    font-size: 14px;
    line-height: 140%;
    display: -webkit-box;
    width: 317px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 16px;
  }
  &__card-date {
    color: var(--Neutrals-700, #525b5a);
    font-family: Inter;
    font-size: 16px;
    line-height: 140%;
  }
  &__btn {
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid var(--BG-BG-1, #f2f5f7);
    background: var(--Primary-500, #5abeaf);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.01),
      0 2px 2px 0 rgba(135, 80, 255, 0.06);
    padding: 13px 117px 13px 116px;
    color: var(--Base-White, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
}

@media (min-width: 1024px) {
  .article {
    &__container {
      width: 928px;
    }
    &__title {
      font-size: 48px;
      line-height: 120%;
    }
    &__cards {
      display: flex;
      flex-direction: row;
      gap: 26px;
    }
    &__card {
      padding-bottom: 20px;
    }
    &__card-img {
      border-radius: 9.943px 9.943px 0 0;
      width: 292px;
      height: 182.286px;
      margin-bottom: 14px;
    }
    &__card-control {
      gap: 5px;
      margin-bottom: 14px;
    }
    &__card-svg {
      width: 14px;
      height: 14px;
      padding: 0.73px 1.896px 0.729px 1.896px;
    }
    &__card-control-text {
      font-size: 12px;
    }
    &__card-title {
      margin-bottom: 14px;
    }
    &__card-text {
      font-size: 12px;
      margin-bottom: 14px;
    }
    &__card-date {
      font-size: 14px;
    }
    &__btn {
      padding: 13px 20px;
    }
  }
}

@media (min-width: 1280px){
    .article{
        
    }
}
