.designed-for {
  &__container {
    width: 327px;
    margin: 0 auto;

    @media (min-width: 1024px) {
      width: 928px;
    }
  }

  &__swiper-container {
    padding-bottom: 65px;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    width: 305px;
    margin-bottom: 24px;
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.4;
  }

  &__swiper-wrapper {
    @media (max-width: 1023px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    margin-bottom: 24px;
    color: var(--Neutrals-800, #181b39);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__swiper-slide {
    position: relative;
    width: 300px;
    height: 370px;
    margin-bottom: 20px;
    border-radius: 12px;

    &_1 {
      background-image:
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 44.86%,
          rgba(66, 124, 116, 0.7) 86.22%,
          #427c74 106.89%
        ),
        url(../../image/home-image/designed-for/nigga.png);
    }

    &_2 {
      background-image:
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 56.22%,
          rgba(223, 126, 126, 0.7) 90%,
          #df7e7e 106.89%
        ),
        url(../../image/home-image/designed-for/woman.png);
    }

    &_3 {
      background-image:
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 56.22%,
          rgba(199, 191, 99, 0.7) 90%,
          #c7bf63 106.89%
        ),
        url(../../image/home-image/designed-for/turkey.png);
    }

    &_4 {
      background-image:
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 56.22%,
          rgba(128, 193, 225, 0.7) 90%,
          #80c1e1 106.89%
        ),
        url(../../image/home-image/designed-for/elderly.png);
    }

    &_5 {
      background-image:
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 44.86%,
          rgba(66, 124, 116, 0.7) 86.22%,
          #427c74 106.89%
        ),
        url(../../image/home-image/designed-for/wierd-woman.png);
    }

    &_6 {
      background-size: 300px 370px;
      background-image:
        linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 56.22%,
          rgba(223, 126, 126, 0.7) 90%,
          #df7e7e 106.89%
        ),
        url(../../image/home-image/designed-for/elderly2.png);
      @media (max-width: 1023px) {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;

        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
    }
  }

  &__name {
    position: absolute;
    bottom: 44px;
    left: 20px;
    color: var(--Base-White, #fff);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.42;
  }

  &__job {
    position: absolute;
    bottom: 14px;
    left: 20px;
    color: var(--Base-White, #fff);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
  }

  &__swiper-button {
    position: absolute;
    top: 406px;
    display: flex;
    padding: 14px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;

    &_next {
      right: 48px;
      background: var(--Primary-400, #64d3c2);
      @media (min-width: 1280px) {
        right: 80px;
      }
      @media (min-width: 1440px) {
        right: 64px;
      }
    }

    &_prev {
      right: 108px;
      border: 1px solid var(--Neutrals-200, #efefef);
      @media (min-width: 1280px) {
        right: 140px;
      }
      @media (min-width: 1440px) {
        right: 124px;
      }
    }

    @media (max-width: 1023px) {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;

      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }

  &__svg {
    width: 20px;
    height: 20px;
  }
}
