.features {
  padding: 40px 0;
  &__container {
    margin: 0 auto;
    width: 327px;
  }
  &__header {
    margin-bottom: 24px;
  }
  &__title {
    color: var(--Neutrals-1000, #030527);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;
  }
  &__subtitle {
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    line-height: 140%;
    width: 327px;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
    margin-right: calc(50% - 50vw);
    overflow: hidden;
  }
  &__li {
    border-radius: 30px;
    border: 1px solid #ebebeb;
    backdrop-filter: blur(20px);
    padding: 16px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    button {
      color: var(--Neutrals-900, #0d1525);
    }
  }
  &__li_all {
    width: 110px;
    background: var(--Primary-500, #5abeaf);
    button {
      color: var(--Base-White, #fff);
    }
  }
  &__li_body {
    width: 202px;
  }
  &__li_diabet {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
  &__li_heart {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
  &__li_cancer {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
  &__li_vitamin {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
  &__li_women {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
  &__li_skin {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
  &__li_liver {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
  &__li_ptofile {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }
  &__li_function {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__card {
    padding: 20px;
    width: 327px;
    height: 316px;
    border-radius: 12px;
    background: var(--Primary-100, #f0fbf9);
  }
  &__card-svg {
    width: 48px;
    height: 47.995px;
    margin-bottom: 23px;
  }
  &__card-title {
    color: var(--Neutrals-900, #0d1525);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 20px;
  }
  &__card-subtitle {
    color: var(--Neutrals-700, #525b5a);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 52px;
  }
  &__card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__price {
    color: var(--Neutrals-800, #181b39);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
  }
  &__card-btn {
    border-radius: 30px;
    background: var(--Primary-500, #5abeaf);
    backdrop-filter: blur(20px);
    color: var(--Base-White, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    padding: 8px 16px 7px 16px;
  }
}

@media (min-width: 1024px) {
  .features {
    &__container {
      width: 928px;
    }
    &__header {
      margin-bottom: 40px;
    }
    &__list {
      margin-bottom: 40px;
    }
    &__li_diabet {
      position: static;
      width: 117px;
      height: auto;
      margin: 0;
    }
    &__li_heart {
      position: static;
      width: 89px;
      height: auto;
      margin: 0;
    }
    &__li_cancer {
      position: static;
      width: 102px;
      height: auto;
      margin: 0;
    }
    &__li_vitamin {
      position: static;
      width: 106px;
      height: auto;
      margin: 0;
    }
    &__li_women {
      position: static;
      width: 166px;
      height: auto;
      margin: 0;
    }

    &__cards {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
    &__card {
      padding: 20px 10px;
      width: 298px;
      height: 270px;
    }
    &__card-svg {
      width: 39.771px;
      height: 39.771px;
      margin-bottom: 19px;
    }
    &__card-title {
      width: 270.4px;
      font-size: 20px;
      margin-bottom: 16px;
    }
    &__card-subtitle {
      font-size: 15px;
      margin-bottom: 48px;
    }
    &__price {
      font-size: 16px;
    }
    &__card-btn {
      border-radius: 24px;
      font-size: 15px;
      padding: 6px 13.257px 6px 13.257px;
    }
  }
}

@media (min-width: 1280px) {
  .features {
    padding: 80px 0;
    &__container {
      width: 1112px;
    }
    &__header {
      margin-bottom: 58px;
    }
    &__li_skin {
      position: static;
      width: 120px;
      height: auto;
      margin: 0;
    }
    &__li_liver {
      position: static;
      width: 82px;
      height: auto;
      margin: 0;
    }
    &__cards {
      gap: 20px;
    }
    &__card {
      width: 360px;
      height: 326px;
      padding: 25px 12px;
    }
    &__card-svg {
      width: 48px;
      height: 47.995px;
      margin-bottom: 23px;
    }
    &__card-title {
      font-size: 24px;
      margin-bottom: 20px;
    }
    &__card-subtitle {
      font-size: 18px;
      margin-bottom: 52px;
    }
    &__price {
      font-size: 20px;
    }
    &__card-btn {
      font-size: 18px;
      padding: 8px 16px 7px 16px;
    }
  }
}

@media (min-width: 1440px) {
  .features {
    &__container {
      width: 1280px;
    }
    &__cards {
      gap: 40px;
    }
    &__card {
      width: 376px;
      height: 326px;
      padding: 30px 22px 20px 20px;
    }
  }
}

@media (min-width: 1920px) {
  .features {
    padding: 80px 0 64px 0;
    &__container {
      width: 1392px;
    }
    &__header {
      margin-bottom: 40px;
    }
    &__title {
      font-size: 60px;
      font-weight: 700;
      line-height: 103%;
      margin-bottom: 24px;
    }
    &__subtitle {
      font-size: 20px;
    }
    &__list {
      margin-bottom: 40px;
    }
    &__li_ptofile {
      position: static;
      width: 166px;
      height: auto;
      margin: 0;
    }
    &__li_function {
      position: static;
      width: 179px;
      height: auto;
      margin: 0;
    }
    &__card{
      padding: 35px 51px;
      width: 438px;
      height: 347px;
    }
  }
}
