.hero {
  padding: 20px 0 40px 0;

  &__container {
    align-items: center;
    margin: 0 auto;
    width: 327px;

    @media (min-width: 1024px) { width: 928px; }
    @media (min-width: 1280px) { width: 1112px; }
    @media (min-width: 1440px) { width: 1280px; }
    @media (min-width: 1920px) { width: 1392px; }
  }

  &__main-card {
    position: relative;
    overflow: hidden;

    padding: 24px 13px 0 13px;
    margin-bottom: 16px;
    width: 327px;
    height: 211px;
    border-radius: 10px;
    background: linear-gradient(221deg, var(--Gradient-Start) 0%, var(--Gradient-End) 111.43%);

    @media (min-width: 1024px) {
      padding: 16px 57px 0 57px;
      width: 928px;
      height: 445px;
    }
    @media (min-width: 1280px) {
      padding: 70px 32px 0 32px;
      width: 1120px;
      height: 513px;
      border-radius: 16px;
    }
    @media (min-width: 1440px) {
      padding: 87px 48px 0 48px;
      width: 1208px;
      height: 513px;
    }
    @media (min-width: 1920px) {
      padding: 76px 93px 0 93px;
      margin-bottom: 40px;
      width: 1392px;
      height: 513px;
    }
  }

  &__main-svg {
    margin-bottom: 16px;
    width: 300.884px;
    height: 19.956px;

    @media (min-width: 1024px) {
      width: 814px;
      height: 54px;
      margin-bottom: 82px;
    }
    @media (min-width: 1280px) { width: 1055.412px; height: 70px; }
    @media (min-width: 1440px) { width: 1111.523px; height: 73.722px; margin-bottom: 48px; }
    @media (min-width: 1920px) { width: 1206.185px; height: 80px; margin-bottom: 53px; }
  }

  &__features {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;

    @media (min-width: 1024px) {
      justify-content: space-around;
      align-items: center;
      gap: 6px;
    }
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  &__feature-svg-blood,
  &__feature-svg-pills,
  &__div-title-svg {
    background: var(--Base-White);
  }

  &__feature-svg-blood {
    width: 17.043px;
    height: 17.043px;
    padding: 2.435px 2.029px;
    border-radius: 8.522px;

    @media (min-width: 1024px) { width: 42px; height: 42px; padding: 6px 5px; border-radius: 21px; }
  }

  &__feature-svg-pills {
    width: 16.356px;
    height: 16.356px;
    padding: 2.337px 1.947px;
    border-radius: 8.178px;

    @media (min-width: 1024px) { width: 42px; height: 42px; padding: 6px 5px; border-radius: 21px; }
  }

  &__feature-text {
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 140%;
    color: var(--Neutrals-800);

    @media (min-width: 1024px) { font-family: "Sequel Sans"; font-size: 22px; font-weight: 315; line-height: 150%; }
  }

  &__main-image-doctor {
    position: relative;
    width: 164px;
    height: 164px;
    left: 180px;
    top: -50px;

    @media (min-width: 1024px) { width: 362px; height: 422px; left: 210px; top: -188px; }
    @media (min-width: 1280px) { width: 446px; height: 446px; left: 300px; top: -200px; }
    @media (min-width: 1440px) { left: 350px; }
    @media (min-width: 1920px) { width: 379px; height: 452px; left: 400px; top: -200px; }
  }

  &__main-text {
    position: relative;
    top: -170px;
    width: 155px;
    height: 56px;
    font-family: Inter;
    font-size: 10px;
    line-height: 1.4;
    color: var(--Neutrals-800);

    @media (min-width: 1024px) { top: -350px; width: 240px; font-size: 16px; }
    @media (min-width: 1280px) { width: 355px; font-size: 18px; }
    @media (min-width: 1920px) { top: -360px; }
  }

  &__main-btn {
    position: relative;
    top: -150px;
    padding: 5px 9px;
    border-radius: 30px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    color: var(--Base-White);
    background: var(--Primary-500);
    transition: all 0.3s ease;

    &:hover { transform: scale(1.05); }

    @media (min-width: 1024px) { top: -350px; left: 600px; padding: 13px 20px; font-size: 16px; }
    @media (min-width: 1280px) { top: -350px; left: 800px; padding: 13px 20px; font-size: 16px; }
    @media (min-width: 1920px) { top: -370px; }
  }

  &__card {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 10.062px;
    width: 327px;
    background: var(--Primary-300);

    &:first-child { background: var(--Red-300); }
    &:last-child { background: var(--Yellow-300); margin-bottom: 0; }

    @media (min-width: 1024px) { margin-bottom: 0; }
    @media (min-width: 1280px) { width: 360px; padding: 20px; }
    @media (min-width: 1440px) { width: 388px; }
    @media (min-width: 1920px) { width: 437px; padding: 31px 48px; }
  }

  &__card-div-titel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    @media (min-width: 1280px) { margin-bottom: 12px; }
  }

  &__card-text {
    font-family: Inter;
    font-size: 16px;
    line-height: 140%;
    color: var(--Neutrals-700);
    width: 222.71px;
    margin-bottom: 24px;

    @media (min-width: 1024px) { width: 215.429px; font-size: 14px; }
    @media (min-width: 1280px) { margin-bottom: 30px; }
  }

  &__div-title-svg {
    background: var(--Base-White);
    box-shadow: 0 5.996px 51.395px 0 rgba(0, 0, 0, 0.06);
    border-radius: 42.829px;
    width: 51px;
    height: 51px;
    padding: 10.625px;
  }

  &__card-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 10px 41px;
    border-radius: 25.697px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    color: var(--Base-White);
    background: var(--Neutrals-900);
    transition: all 0.3s ease;

    &:hover { transform: scale(1.05); }

    @media (min-width: 1024px) { padding: 10px 31px; border-radius: 24px; }
    @media (min-width: 1920px) { padding: 13px 48px; }
  }

  &__card-svg {
    width: 17.132px;
    height: 17.132px;
    @media (min-width: 1024px) { width: 16px; height: 16px; }
  }

  &__cards {
    @media (min-width: 1024px) { display: flex; gap: 16px; }
    @media (min-width: 1280px) { gap: 20px; }
    @media (min-width: 1440px) { gap: 23px; }
    @media (min-width: 1920px) { gap: 40px; }
  }
}
