.hero {
  padding: 20px 0 40px 0;
  &__container {
    margin: 0 auto;
    width: 327px;
  }
  &__main-card {
    padding: 24px 13px 0 13px;
    margin-bottom: 16px;
    width: 327px;
    height: 211px;
    border-radius: 10px;
    background: linear-gradient(221deg, #64d3c2 0%, #f0f4da 111.43%);
    position: relative;
    overflow: hidden;
  }

  &__main-svg {
    width: 300.884px;
    height: 19.956px;
    margin-bottom: 16px;
  }

  &__features {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
  }

  &__feature {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  &__feature-svg-blood {
    width: 17.043px;
    height: 17.043px;
    padding: 2.435px 2.029px;
    border-radius: 8.522px;
    background: var(--Base-White, #fff);
  }

  &__feature-svg-pills {
    width: 16.356px;
    height: 16.356px;
    padding: 2.337px 1.947px;
    border-radius: 8.178px;
    background: var(--Base-White, #fff);
  }

  &__feature-text {
    color: var(--Neutrals-800, #181b39);
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 140%;
  }

  &__main-image-doctor {
    position: relative;
    width: 164px;
    height: 164px;
    left: 180px;
    top: -50px;
  }

  &__main-text {
    color: var(--Neutrals-800, #181b39);
    font-family: Inter;
    font-size: 10px;
    line-height: 1.4;
    width: 155px;
    height: 56px;
    position: relative;
    top: -170px;
  }

  &__main-btn {
    color: #fff;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 9px;
    border-radius: 30px;
    background: var(--Primary-500, #5abeaf);
    position: relative;
    top: -150px;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }

  &__card {
    margin-bottom: 16px;
    padding: 16px;
    border-radius: 10.062px;
    background: var(--Primary-300, #cff1ec);
    width: 327px;
    &:first-child {
      background: var(--Red-300, #fddbdb);
    }

    &:last-child {
      background: var(--Yellow-300, #fff6ca);
      margin-bottom: 0;
    }
  }

  &__card-div-titel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  &__card-text {
    color: var(--Neutrals-700, #525b5a);
    font-family: Inter;
    font-size: 16px;
    line-height: 140%;
    width: 222.71px;
    margin-bottom: 24px;
  }
  &__div-title-svg {
    padding: 25.697px;
    border-radius: 42.829px;
    background: var(--Base-White, #fff);
    box-shadow: 0 5.996px 51.395px 0 rgba(0, 0, 0, 0.06);
    height: 51px;
    width: 51px;
    padding: 10.625px;
  }

  &__card-link {
    color: var(--Base-White, #fff);
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    padding: 10px 41px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 25.697px;
    background: var(--Neutrals-900, #0d1525);
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.05);
    }
  }
  &__card-svg {
    width: 17.132px;
    height: 17.132px;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding-bottom: 28px;
    &__container {
      width: 928px;
    }
    &__main-card {
      padding: 16px 57px 0 57px;
      border-radius: 10px;
      height: 445px;
      width: 928px;
      background: linear-gradient(221deg, #64d3c2 0%, #f0f4da 111.43%);
      position: relative;
      overflow: hidden;
    }

    &__main-svg {
      width: 814px;
      height: 54px;
      margin-bottom: 82px;
    }

    &__features {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 24px;
    }

    &__feature {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &__feature-svg-blood {
      width: 42px;
      height: 42px;
      padding: 6px 5px;
      border-radius: 21px;
    }

    &__feature-svg-pills {
      width: 42px;
      height: 42px;
      padding: 6px 5px;
      border-radius: 21px;
    }

    &__feature-text {
      font-family: "Sequel Sans";
      font-size: 22px;
      font-weight: 315;
      line-height: 150%;
    }

    &__main-image-doctor {
      width: 362px;
      height: 422px;
      left: 230px;
      top: -188px;
    }

    &__main-text {
      top: -350px;
      font-size: 16px;
      width: 240px;
    }

    &__main-btn {
      top: -350px;
      left: 600px;
      padding: 13px 20px;
      font-size: 16px;
    }
    &__cards {
      display: flex;
      gap: 16px;
    }

    &__card {
      margin-bottom: 0;
    }

    &__card-text {
      width: 215.429px;
      font-size: 14px;
    }
    &__div-title-svg {
      padding: 25.697px;
      border-radius: 42.829px;
      background: var(--Base-White, #fff);
      box-shadow: 0 5.996px 51.395px 0 rgba(0, 0, 0, 0.06);
      height: 51px;
      width: 51px;
      padding: 10.625px;
    }

    &__card-link {
      padding: 10px 31px;
      border-radius: 24px;
    }
    &__card-svg {
      width: 16px;
      height: 16px;
    }
  }
}

@media (min-width: 1280px) {
  .hero {
    padding: 28px 0 54px 0;
    &__container {
      width: 1112px;
    }
    &__main-card {
      padding: 70px 32px 0 32px;
      margin-bottom: 20px;
      width: 1120px;
      height: 513px;
      border-radius: 16px;
    }

    &__main-svg {
      width: 1055.412px;
      height: 70px;
    }

    &__main-image-doctor {
      width: 446px;
      height: 446px;
      left: 300px;
      top: -200px;
    }

    &__main-text {
      font-size: 18px;
      width: 355px;
    }

    &__main-btn {
      top: -350px;
      left: 850px;
      padding: 13px 20px;
      font-size: 16px;
    }

    &__cards {
      gap: 20px;
    }

    &__card {
      width: 360px;
      padding: 20px;
    }

    &__card-div-titel {
      margin-bottom: 12px;
    }

    &__card-text {
      margin-bottom: 30px;
    }

    &__card-link {
      padding: 13px 48px;
    }
  }
}
@media (min-width: 1440px) {
  .hero {
    padding: 28px 0 54px 0;
    &__container {
      width: 1280px;
    }
    &__main-card {
      width: 1208px;
      height: 513px;
      padding: 87px 48px 0 48px;
    }
    &__main-svg {
      width: 1111.523px;
      height: 73.722px;
      margin-bottom: 48px;
    }
    &__main-image-doctor {
      left: 350px;
    }
    &__cards {
      gap: 23px;
    }

    &__card {
      width: 388px;
    }
  }
}

@media (min-width: 1920px) {
  .hero {
    padding: 20px 0 40px 0;
    &__container {
      width: 1392px;
    }
    &__main-card {
      padding: 76px 93px 0 93px;
      margin-bottom: 40px;
      width: 1392px;
      height: 513px;
    }

    &__main-svg {
      width: 1206.185px;
      height: 80px;
      margin-bottom: 53px;
    }

    &__main-image-doctor {
      width: 379px;
      height: 452px;
      left: 400px;
      top: -200px;
    }

    &__main-text {
      top: -360px;
    }

    &__main-btn {
      top: -370px;
    }

    &__cards {
      gap: 40px;
    }

    &__card {
      width: 437px;
      padding: 31px 48px;
    }

    &__card-link {
      padding: 13px 48px;
    }
    &__card-svg {
    }
  }
}
