.pricing {
  padding: 40px 0;
  @media (min-width: 1280px) { padding: 80px 0 74px 0; }
  @media (min-width: 1440px) { padding: 80px 0; }
  @media (min-width: 1920px) { padding: 80px 0 49px 0; }

  &__container {
    width: 327px;
    margin: 0 auto;
    @media (min-width: 1024px) { width: 928px; }
    @media (min-width: 1280px) { width: 1120px; }
    @media (min-width: 1440px) { width: 1280px; }
    @media (min-width: 1920px) { width: 1392px; }
  }

  &__header {
    margin-bottom: 24px;
    @media (min-width: 1024px) { margin-bottom: 60px; }
  }

  &__header-title {
    margin: 0 auto 24px auto;
    color: $neutral-1000;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
    @media (min-width: 1024px) { font-size: 48px; line-height: 120%; }
    @media (min-width: 1920px) { font-size: 60px; font-weight: 700; }
  }

  &__header-subtitle {
    margin: 0 auto 24px auto;
    color: $neutral-900;
    font-family: Inter;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    @media (min-width: 1024px) { font-size: 20px; }
  }

  &__toggle {
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    margin: 0 auto;
  }

  &__label {
    color: $neutral-900;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
  }

  &__header-switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 30px;
  }

  &__header-checkbox {
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + .pricing__header-slider {
      background-color: $primary-500;
    }

    &:checked + .pricing__header-slider::before {
      transform: translateX(14px);
    }
  }

  &__header-slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    background-color: #d1d5db;
    border-radius: 50px;
    transition: 0.3s;

    &::before {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 3px;
      width: 26px;
      height: 26px;
      background-color: $white;
      border-radius: 50%;
      transition: 0.3s;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    @media (min-width: 1024px) { flex-direction: row; gap: 36px; }
    @media (min-width: 1280px) { gap: 44px; }
    @media (min-width: 1440px) { gap: 40px; }
  }

  &__card {
    padding: 16px 8px 16px 9px;
    border-radius: 16px;
    @media (min-width: 1024px) { padding: 40px 37px; }
    @media (min-width: 1280px) { padding: 38px 45px; }
  }

  &__card-light {
    background: $primary-100;

    &_titel {
      margin-bottom: 8px;
      color: $neutral-900;
      font-family: Inter;
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      @media (min-width: 1024px) { margin-bottom: 6px; line-height: 36px; }
      @media (min-width: 1280px) { margin-bottom: 8px; line-height: 30px; }
    }

    &_subtitle {
      margin-bottom: 53px;
      color: $neutral-700;
      font-family: Inter;
      font-size: 16px;
      line-height: 140%;
      @media (min-width: 1024px) { margin-bottom: 44px; font-size: 14px; }
      @media (min-width: 1280px) { margin-bottom: 53px; font-size: 18px; }
    }

    &_price {
      margin-bottom: 66px;
      color: $primary-500;
      font-family: Inter;
      font-size: 40px;
      font-weight: 600;
      @media (min-width: 1024px) { margin-bottom: 56px; }
      @media (min-width: 1280px) { margin-bottom: 66px; font-size: 48px; }

      span {
        color: $neutral-600;
        font-family: Inter;
        font-size: 18px;
        line-height: 140%;
        @media (min-width: 1024px) { font-size: 16px; }
        @media (min-width: 1280px) { font-size: 20px; }
      }
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 61px;
      @media (min-width: 1024px) { gap: 16px; margin-bottom: 50px; }
      @media (min-width: 1280px) { gap: 20px; margin-bottom: 61px; }
    }

    &_item {
      display: flex;
      align-items: center;
      gap: 16px;
      color: $neutral-700;
      font-family: Inter;
      font-size: 18px;
      line-height: 140%;
      @media (min-width: 1024px) { gap: 12px; font-size: 16px; }
      @media (min-width: 1280px) { gap: 16px; font-size: 20px; }
    }

    &_svg {
      width: 19px;
      height: 19px;
      @media (min-width: 1280px) { width: 23.75px; height: 23.75px; }
    }

    &_link {
      display: block;
      padding: 17px 83px 17px 84px;
      border: 1px solid $neutral-200;
      border-radius: 32px;
      background: $white;
      color: $neutral-900;
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      text-align: center;
      @media (min-width: 1024px) { font-size: 13px; transition: all 0.3s ease; &:hover { transform: scale(1.05); } }
      @media (min-width: 1280px) { font-size: 16px; }
    }
  }

  &__card-dark {
    background: $secondary-400;

    &_titel {
      margin-bottom: 8px;
      color: $white;
      font-family: Inter;
      font-size: 24px;
      font-weight: 600;
      line-height: 34px;
      @media (min-width: 1024px) { margin-bottom: 6px; line-height: 36px; }
      @media (min-width: 1280px) { margin-bottom: 8px; line-height: 30px; }
    }

    &_subtitel {
      margin-bottom: 53px;
      color: $white;
      font-family: Inter;
      font-size: 16px;
      line-height: 140%;
      @media (min-width: 1024px) { margin-bottom: 44px; font-size: 14px; }
      @media (min-width: 1280px) { margin-bottom: 53px; font-size: 18px; }
    }

    &_price {
      margin-bottom: 66px;
      color: $primary-500;
      font-family: Inter;
      font-size: 40px;
      font-weight: 600;
      @media (min-width: 1024px) { margin-bottom: 56px; }
      @media (min-width: 1280px) { margin-bottom: 66px; font-size: 48px; }

      span {
        color: $white;
        font-family: Inter;
        font-size: 18px;
        line-height: 140%;
        @media (min-width: 1024px) { font-size: 16px; }
        @media (min-width: 1280px) { font-size: 20px; }
      }
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 61px;
      @media (min-width: 1024px) { gap: 16px; margin-bottom: 50px; }
      @media (min-width: 1280px) { gap: 20px; margin-bottom: 61px; }
    }

    &_item {
      display: flex;
      align-items: center;
      gap: 16px;
      color: $white;
      font-family: Inter;
      font-size: 18px;
      line-height: 140%;
      @media (min-width: 1024px) { gap: 16px; font-size: 16px; }
      @media (min-width: 1280px) { gap: 16px; font-size: 20px; }
    }

    &_svg {
      width: 19px;
      height: 19px;
      @media (min-width: 1280px) { width: 23.75px; height: 23.75px; }
    }

    &_link {
      display: block;
      padding: 17px 84px 17px 83px;
      border: 1px solid $border-white-blue;
      border-radius: 32px;
      background: $primary-500;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.01), 0 2px 2px 0 rgba(135, 80, 255, 0.06);
      color: $white;
      font-family: Inter;
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      text-align: center;
      @media (min-width: 1024px) { font-size: 13px; transition: all 0.3s ease; &:hover { transform: scale(1.05); } }
      @media (min-width: 1280px) { font-size: 16px; padding: 17px 146px; }
    }
  }
}