.pricing {
  padding: 40px 0;
  &__container {
    margin: 0 auto;
    width: 327px;
  }
  &__header {
    margin-bottom: 24px;
  }
  &__header-title {
    color: var(--Neutrals-1000, #030527);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    margin: 0 auto 24px auto;
  }
  &__header-subtitle {
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    line-height: 140%;
    margin: 0 auto 24px auto;
  }

  &__toggle {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 16px;
    width: fit-content;
  }
  &__label {
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
  }
  &__header-switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 30px;
  }

  &__header-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__header-slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    background-color: #d1d5db;
    border-radius: 50px;
    transition: 0.3s;
  }

  &__header-slider::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    left: 3px;
    bottom: 2px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s;
  }

  &__header-checkbox:checked + &__header-slider {
    background-color: #7fc7b7;
  }

  &__header-checkbox:checked + &__header-slider::before {
    transform: translateX(14px);
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
  }
  &__card {
    padding: 16px 8px 16px 9px;
    border-radius: 16px;
  }
  &__card-light {
    background: var(--Primary-100, #f0fbf9);
  }
  &__card-light_titel {
    color: var(--Neutrals-900, #0d1525);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 8px;
  }
  &__card-light_subtitle {
    color: var(--Neutrals-700, #525b5a);
    font-family: Inter;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 53px;
  }
  &__card-light_price {
    color: var(--Primary-500, #5abeaf);
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 66px;
    span {
      color: var(--Neutrals-600, #7c8483);
      font-family: Inter;
      font-size: 18px;
      line-height: 140%;
    }
  }
  &__card-light_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 61px;
  }
  &__card-light_item {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--Neutrals-700, #525b5a);
    font-family: Inter;
    font-size: 18px;
    line-height: 140%;
  }
  &__card-light_svg {
    width: 19px;
    height: 19px;
  }
  &__card-light_link {
    border-radius: 32px;
    border: 1px solid var(--Neutrals-200, #efefef);
    background: var(--Base-White, #fff);
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    padding: 17px 83px 17px 84px;
    display: block;
  }
  &__card-dark {
    background: var(--Secondary-400, #1c404c);
  }
  &__card-dark_titel {
    color: var(--Base-White, #fff);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 8px;
  }
  &__card-dark_subtitel {
    color: var(--Base-White, #fff);
    font-family: Inter;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 53px;
  }
  &__card-dark_price {
    color: var(--Primary-500, #5abeaf);
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 66px;
    span {
      color: var(--Base-White, #fff);
      font-family: Inter;
      font-size: 18px;
      line-height: 140%;
    }
  }
  &__card-dark_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 61px;
  }
  &__card-dark_item {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--Base-White, #fff);
    font-family: Inter;
    font-size: 18px;
    line-height: 140%;
  }
  &__card-dark_svg {
    width: 19px;
    height: 19px;
  }
  &__card-dark_link {
    display: block;
    border-radius: 32px;
    border: 1px solid var(--BG-BG-1, #f2f5f7);
    background: var(--Primary-500, #5abeaf);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.01),
      0 2px 2px 0 rgba(135, 80, 255, 0.06);
    color: var(--Base-White, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    padding: 17px 84px 17px 83px;
  }
}

@media (min-width: 1024px) {
  .pricing {
    &__container {
      width: 928px;
    }
    &__header {
      margin-bottom: 60px;
    }
    &__header-title {
      font-size: 48px;
      line-height: 120%;
    }
    &__header-subtitle {
      font-size: 20px;
    }

    &__cards {
      display: flex;
      flex-direction: row;
      gap: 36px;
    }
    &__card {
      padding: 40px 37px;
    }
    &__card-light_titel {
      line-height: 36px;
      margin-bottom: 6px;
    }
    &__card-light_subtitle {
      font-size: 14px;
      margin-bottom: 44px;
    }
    &__card-light_price {
      margin-bottom: 56px;
      span {
        font-size: 16px;
      }
    }
    &__card-light_list {
      gap: 16px;
      margin-bottom: 50px;
    }
    &__card-light_item {
      gap: 12px;
      font-size: 16px;
    }
    &__card-light_link {
      font-size: 13px;
      padding: 14px 126px;
    }
    &__card-dark_titel {
      line-height: 36px;
      margin-bottom: 6px;
    }
    &__card-dark_subtitel {
      font-size: 14px;
      margin-bottom: 44px;
    }
    &__card-dark_price {
      margin-bottom: 56px;
      span {
        font-size: 16px;
      }
    }
    &__card-dark_list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 50px;
    }
    &__card-dark_item {
      gap: 16px;
      font-size: 16px;
    }
    &__card-dark_link {
      font-size: 13px;
      padding: 14px 126px;
    }
  }
}

@media (min-width: 1280px) {
  .pricing {
    padding: 80px 0 74px 0;
    &__container {
      width: 1120px;
    }
    &__cards {
      gap: 44px;
    }
    &__card {
      padding: 38px 45px;
    }
    &__card-light_titel {
      line-height: 30px;
      margin-bottom: 8px;
    }
    &__card-light_subtitle {
      font-size: 18px;
      margin-bottom: 53px;
    }
    &__card-light_price {
      margin-bottom: 66px;
      font-size: 48px;
      span {
        font-size: 20px;
      }
    }
    &__card-light_list {
      gap: 20px;
      margin-bottom: 61px;
    }
    &__card-light_item {
      gap: 16px;
      font-size: 20px;
    }
    &__card-light_svg {
      width: 23.75px;
      height: 23.75px;
    }
    &__card-light_link {
      font-size: 16px;
      padding: 17px 146px;
    }
    &__card-dark_titel {
      line-height: 30px;
      margin-bottom: 8px;
    }
    &__card-dark_subtitel {
      font-size: 18px;
      margin-bottom: 53px;
    }
    &__card-dark_price {
      margin-bottom: 66px;
      font-size: 48px;
      span {
        font-size: 20px;
      }
    }
    &__card-dark_list {
      gap: 20px;
      margin-bottom: 61px;
    }
    &__card-dark_item {
      gap: 16px;
      font-size: 20px;
    }
    &__card-dark_svg {
      width: 23.75px;
      height: 23.75px;
    }
    &__card-dark_link {
      font-size: 16px;
      padding: 17px 146px;
    }
  }
}

@media (min-width: 1440px) {
  .pricing {
    padding: 80px 0;
    &__container {
      width: 1280px;
    }
    &__cards {
      gap: 40px;
    }
  }
}
@media (min-width: 1920px) {
  .pricing {
    padding: 80px 0 49px 0;
    &__container {
      width: 1392px;
    }
    &__header-title {
      font-size: 60px;
      font-weight: 700;
    }
  }
}
