// .switch {
//   position: relative;
//   display: inline-block;
//   width: 46px;
//   height: 30px;
// }

// .switch input {
//   opacity: 0;
//   width: 0;
//   height: 0;
// }

// .switch__slider {
//   position: absolute;
//   cursor: pointer;
//   inset: 0;
//   background-color: #d1d5db;
//   border-radius: 50px;
//   transition: 0.3s;
// }

// .switch__slider::before {
//   content: "";
//   position: absolute;
//   height: 26px;
//   width: 26px;
//   left: 3px;
//   bottom: 2px;
//   background-color: #ffffff;
//   border-radius: 50%;
//   transition: 0.3s;
// }

// /* коли увімкнено */
// .switch input:checked + .switch__slider {
//   background-color: #7fc7b7;
// }

// .switch input:checked + .switch__slider::before {
//   transform: translateX(14px);
// }

.pricing {
  padding: 40px 0;
  &__container {
    margin: 0 auto;
    width: 327px;
  }
  &__header {
    margin-bottom: 24px;
  }
  &__header-title {
    color: var(--Neutrals-1000, #030527);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    margin: 0 auto 24px auto;
  }
  &__header-subtitle {
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    line-height: 140%;
    margin: 0 auto 24px auto;
  }

  &__toggle {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 16px;
    width: fit-content;
  }
  &__label {
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
  }
  &__header-switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 30px;
  }

  &__header-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__header-slider {
    position: absolute;
    inset: 0;
    cursor: pointer;
    background-color: #d1d5db;
    border-radius: 50px;
    transition: 0.3s;
  }

  &__header-slider::before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    left: 3px;
    bottom: 2px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: 0.3s;
  }

  &__header-checkbox:checked + &__header-slider {
    background-color: #7fc7b7;
  }

  &__header-checkbox:checked + &__header-slider::before {
    transform: translateX(14px);
  }

  &__cards {
    display: flex;
    flex-direction: column;
  }
  &__card {
    padding: 16px 8px 16px 9px;
    border-radius: 16px;
  }
  &__card-light {
    background: var(--Primary-100, #f0fbf9);
  }
  &__card-light_titel {
    color: var(--Neutrals-900, #0d1525);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 8px;
  }
  &__card-light_subtitle {
    color: var(--Neutrals-700, #525b5a);
    font-family: Inter;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 53px;
  }
  &__card-light_price {
    color: var(--Primary-500, #5abeaf);
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 66px;
    span {
      color: var(--Neutrals-600, #7c8483);
      font-family: Inter;
      font-size: 18px;
      line-height: 140%;
    }
  }
  &__card-light_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 61px;
  }
  &__card-light_item {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--Neutrals-700, #525b5a);
    font-family: Inter;
    font-size: 18px;
    line-height: 140%;
    
  }
  &__card-light_svg {
    width: 19px;
    height: 19px;
  }
  &__card-light_link {
    border-radius: 32px;
    border: 1px solid var(--Neutrals-200, #efefef);
    background: var(--Base-White, #fff);
    color: var(--Neutrals-900, #0d1525);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    padding: 17px 83px 17px 84px;
  }
  &__card-dark {
  }
  &__card-dark_titel {
  }
  &__card-dark_subtitel {
  }
  &__card-dark_price {
  }
  .pricing__card-dark_list {
  }
  .pricing__card-dark_item {
  }
  .pricing__card-dark_svg {
  }
  .pricing__card-dark_link {
  }
}
