.reviews {
  &__container {
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    @media (min-width: 1024px) {
      width: 928px;
    }
    @media (min-width: 1280px) {
      width: 1120px;
    }
    @media (min-width: 1440px) {
      width: 1280px;
    }
    @media (min-width: 1920px) {
      width: 1392px;
    }
  }

  &__title {
    width: 327px;
    margin-bottom: 24px;
    color: var(--Neutrals-1000, #030527);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
  }

  &__img-container {
    position: relative;
    margin: auto 0 120px auto;
    display: flex;
    justify-content: center;
    align-items: self-end;
    width: 284px;
    height: 316px;
    border-radius: 9px;
    background: radial-gradient(
      165.2% 167.76% at 50% 50%,
      #edeef4 0%,
      #c9cbda 100%
    );
  }

  &__img-container::after {
    content: "";
    left: -43px;
    bottom: -43px;
    z-index: -1;
    position: absolute;
    width: 187px;
    height: 265px;
    border-radius: 11.374px;
    background: var(--Primary-200, #e8f8f6);
  }

  &__swiper-button {
    position: absolute;
    display: flex;
    padding: 14px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;

    &_next {
      background: var(--Primary-400, #64d3c2);
    }

    &_prev {
      border: 1px solid var(--Neutrals-200, #efefef);
    }
  }

  &__text {
    width: 327px;
    color: var(--Neutrals-800, #181b39);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
  }
}
