.services {
    
  &__container {
    margin: 0 auto;
    width: 327px;
  }
  &__header {
  }
  &__title {
  }
  &__subtitle {
  }
  &__content-cards {
  }
  &__card-image {
  }
  &__card-image-subtitle {
  }
  &__card-image-title {
  }
  &__card-image-link {
  }
  &__card-electronic {
  }
  &__card-subtitle {
  }
  &__card-footer {
  }
  &__card-footer-title {
  }
  &__card-footer-link {
  }
  &-card-footer-svg {
  }
  &__card-telehealth {
  }
  &__card-billing {
  }
}
