:root {
  /* Primary colors */
  --Primary-500: #5abeaf;
  --Primary-300: #cff1ec;

  /* Red */
  --Red-300: #fddbdb;

  /* Yellow */
  --Yellow-300: #fff6ca;

  /* Base colors */
  --Base-White: #fff;

  /* Neutrals */
  --Neutrals-900: #0d1525;
  --Neutrals-800: #181b39;
  --Neutrals-700: #525b5a;
  --Neutrals-200: #efefef;

  /* Gradient colors */
  --Gradient-Start: #64d3c2;
  --Gradient-End: #f0f4da;

  /* Analytics specific gradients */
  --Gradient-Green-Start: #6ad4c3;
  --Gradient-Green-End: #dcefd6;

  /* Blue background */
  --BG-BG-4: #007ecd;
}

