@font-face {
  font-family: "Inter";
  src: url("../../font/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sequel Sans";
  font-weight: 100 900;
  font-style: normal;
  src: url("../font/Montserrat-VariableFont_wght.ttf") format("truetype");
}
