@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: normal;
  src: url("../../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-display: swap;
}



// @font-face {
//   font-family: "Inter";
//   font-weight: 400;
//   font-style: normal;
//   src: url("../fonts/Inter-Regular.ttf") format("truetype");
// }