@font-face {
  font-family: "Sequel Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/SequelSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}