$font-inter: 'Inter', sans-serif;
$color-dark: #0D1525;
$color-gray: #525B5A;

.global__footer {
  margin: 0 auto;
}

.CTA {
  padding: 40px 24px;
  margin: 0 auto;
  max-width: 1290px;

  &__container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background: #64D3C2;
  }

  &__discription {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-title {
      color: #030527;
      text-align: center;
      font-family: $font-inter;
      font-size: 32px;
      font-weight: 600;
      margin-top: 40px;
    }

    &-text {
      color: $color-dark;
      text-align: center;
      font-family: $font-inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }

    &-bt {
      border-radius: 30px;
      background: #181B39;
      display: flex;
      padding: 13px 106px;
      align-items: center;
      gap: 4px;
      color: #FFF;
      text-align: center;
      font-family: $font-inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      margin: 0 auto;
      margin-bottom: 25px;
    }
  }
}

.info {
  position: relative;
  padding-bottom: 45px;
  margin: 0 auto;

  &__avatar1 {
    position: absolute;
    right: 91px;
    bottom: 26px;
  }

  &__avatar2 {
    position: absolute;
    left: 29px;
    bottom: 216px;
  }

  &__contents1 {
    display: none;
  }
}

.footer {
  display: flex;
  padding: 40px 36px 40px 35px;
  flex-direction: column;
  gap: 24px;

  &__container {
    margin: 0 auto;
  }
}

.header__logo {
  &-svg {
    width: 30px;
    height: 30px;
  }

  &-name {
    color: #181B39;
    text-align: center;
    font-family: "Sequel Sans", sans-serif;
    font-style: normal;
    font-weight: 325;
    line-height: 140%;
  }
}

.follow-us {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px 0;

  &__text {
    display: flex;
    color: $color-dark;
    font-family: $font-inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  &__svg {
    width: 24px;
    height: 24px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__title {
    color: $color-dark;
    font-family: $font-inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  &__text {
    color: $color-gray;
    font-family: $font-inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.line {
  width: 304px;
  height: 2px;
  background: #F5F5F5;
  margin: 20px 0;
}

.item {
  display: flex;
  gap: 8px;

  &__icon {
    width: 20px;
    height: 20px;
  }
}

.buttom {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__item {
    display: flex;
    gap: 39px;
  }
}

.bottom__logo {
  display: none;
}

.follow-us1 {
  display: none;
}


@media (min-width: 1024px) {
  .CTA {
    padding: 40px 48px;

    &__container {
      justify-content: space-between;
      flex-direction: row;
      overflow: hidden;
    }

    &__discription {
      width: 504px;
      padding: 80px 10px 40px 40px;
      justify-content: flex-start;
      margin: 0;

      &-title {
        font-size: 48px;
      }

      &-btn {
        justify-content: flex-start;
        padding: 13px 16px;
      }
    }
  }

  .info {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    padding-top: 49px;
    padding-bottom: 37px;

    &__contents {
      display: none;
    }

    &__contents1 {
      display: flex;
      justify-content: flex-end;
    }
  }

  .header__logo {
    display: none;
  }

  .bottom__logo {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 140px;
    height: 30px;
    cursor: pointer;
  }

  .content {
    display: flex;
    gap: 81px;
  }

  .line {
    display: none;
  }

  .follow-us {
    display: none;
  }

  .follow-us1 {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__icons {
      display: flex;
      gap: 24px;
    }
  }

  .buttom {
    gap: 94px;
    flex-direction: row;

    &__line {
      width: 928px;
      height: 2px;
      background: #EDEDED;
      margin-top: 40px;
      margin-bottom: 24px;
    }

    &__text {
      color: $color-gray;
      font-family: "Instrument Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
    }
  }
}