.contact {
  padding: 56px 0;
  &__container {
    align-items: center;
    margin: 0 auto;
    width: 351px;
    display: flex;
    flex-direction: column;
    gap: 46px;
  }
  &__info {
  }
  &__title {
    color: var(--Neutrals-1000, #030527);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
    margin-bottom: 24px;
  }
  &__subtitle {
    color: var(--Neutrals-900, #0d1525);
    font-family: Inter;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 60px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 24px;
    margin-bottom: 40px;
  }
  &__item {
    display: flex;
    gap: 8px;
    color: var(--Neutrals-800, #181b39);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
  }
  &__list-svg {
    width: 18px;
    height: 18px;
  }
  &__text {
    color: var(--Neutrals-900, #0d1525);
    font-family: Inter;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 46px;
    a {
      color: var(--Primary-400, #64d3c2);
      font-family: Inter;
      font-size: 18px;
      font-weight: 500;
      line-height: 140%;
    }
  }
  &__form {
    border-radius: 16px;
    background: var(--Base-White, #fff);
    box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.04);
    padding: 16px 12px;
  }
  &__form-row {
  }
  &__form-field {
  }
  &__form-label {
    color: var(--Neutrals-700, #525b5a);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 12px;
  }
  &__form-input {
    color: var(--Neutrals-600, #7c8483);
    font-family: Inter;
    font-size: 16px;
    line-height: 140%;
    border-radius: 16px;
    border: 1px solid var(--Neutrals-200, #efefef);
    background: var(--Base-White, #fff);
    box-shadow:
      0 4px 24px 0 rgba(100, 211, 194, 0.08),
      0 4px 14px 0 rgba(100, 211, 194, 0.04);
    width: 327px;
    height: 62px;
    margin-top: 14px;
    margin-bottom: 24px;
    padding-left: 20px;
  }
  &__form-services {
    margin-bottom: 24px;
  }
  &__form-services-title {
    color: var(--Neutrals-700, #525b5a);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 16px;
  }
  &__form-lists {
    display: flex;
    gap: 24px;
  }
  &__form-services-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__form-checkbox {
  }
  &__form-checkbox-input {
  }

  &__form-checkbox-text {
    color: var(--Neutrals-600, #7c8483);
    font-family: Inter;
    font-size: 16px;
    line-height: 140%;
  }
  &__form-field--full {
  }
  &__form-textarea {
    border-radius: 16px;
    border: 1px solid var(--Neutrals-200, #efefef);
    background: var(--Base-White, #fff);
    box-shadow:
      0 4px 24px 0 rgba(100, 211, 194, 0.08),
      0 4px 14px 0 rgba(100, 211, 194, 0.04);
    width: 327px;
    height: 100px;
    resize: none;
    margin-top: 16px;
    margin-bottom: 24px;
    padding-left: 20px;
    padding-top: 20px;
  }
  &__form-button {
    border-radius: 30px;
    border: 1px solid var(--BG-BG-1, #f2f5f7);
    background: var(--Primary-500, #5abeaf);
    box-shadow:
      0 2px 3px 0 rgba(0, 0, 0, 0.01),
      0 2px 2px 0 rgba(135, 80, 255, 0.06);
    padding: 20px;
    color: var(--Base-White, #fff);
    text-align: center;
    font-family: "Sequel Sans";
    font-size: 16px;
    font-weight: 315;
    line-height: 140%;
  }
}

@media (min-width: 1024px) {
  .contact {
    padding: 90px 0;
    &__container {
      width: 928px;
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
    }
    &__info {
      width: 422px;
    }
    &__title {
      text-align: start;
      font-size: 48px;
    }
    &__item {
      width: 320px;
    }
    &__form-row {
      display: flex;
      gap: 16px;
    }
    &__form-field {
      width: 210px;
    }
    &__form-input {
      width: 210px;
    }
    &__form-services {
      margin-bottom: 24px;
    }
    &__form-lists {
      flex-direction: column;
      gap: 16px;
    }
    &__form-services-list {
      flex-direction: row;
    }
    &__form-checkbox {
      width: 125px;
    }
    &__form-textarea {
      width: 436px;
    }
    &__form-button {
      padding: 20px 30px;
    }
  }
}

@media (min-width: 1280px) {
  .contact {
    &__container {
      width: 1094px;
    }
    &__form {
      padding: 16px;
    }
    &__form-field {
      width: 288px;
    }
    &__form-input {
      width: 288px;
    }
    &__form-textarea {
      width: 600px;
    }
    &__list {
      gap: 20px;
    }
  }
}

@media (min-width: 1440px) {
  .contact {
    &__container {
      width: 1208px;
    }
    &__form {
      padding: 24px;
    }
  }
}

@media (min-width: 1920px) {
  .contact {
    &__container {
      width: 1318px;
    }
    &__title {
      font-size: 60px;
      font-weight: 700;
    }
    &__subtitle{
      font-size: 20px;
    }
    &__form-input{
      margin-bottom: 30px;
    }
    &__form-services {
      margin-bottom: 30px;
    }
    &__form-textarea{
      margin-bottom: 30px;
    }
  }
}
