// src/scss/_variables.scss
$white: #ffffff;
$neutral-800: #181b39;
$secondary-400: #1c404c;
$primary-500: #5abeaf;
$bg-1: #f2f5f7;
$bg-3: #e3e3e9;
$greyscale-0: #ffffff;

// shadows
$shadow-inset-light: 0 0.833px 3.333px 0 rgba(255, 255, 255, 0.35) inset;
$shadow-inset-soft: 0.833px -3.333px 3.333px 0 rgba(255, 255, 255, 0.2) inset;
$shadow-button: 0 2px 3px 0 rgba(0, 0, 0, 0.01),
  0 2px 2px 0 rgba(135, 80, 255, 0.06);
$shadow-burger: 0.8px 1.6px 3.2px 0 rgba(13, 13, 18, 0.08);
