/* Colors */
$white: #ffffff;
$primary-500: #7fc7b7; 
$primary-400: #64d3c2; 
$neutral-1000: #030527;
$neutral-900: #0d1525;
$neutral-800: #181b39;
$neutral-700: #525b5a;
$neutral-600: #7c8483;
$neutral-200: #efefef;
$border-white-blue: #f2f5f7;

/* Shadows & Effects */
$shadow-form: 0 5px 40px 0 rgba(0, 0, 0, 0.04);
$shadow-input: 0 4px 24px 0 rgba(100, 211, 194, 0.08), 0 4px 14px 0 rgba(100, 211, 194, 0.04);
$shadow-btn: 0 2px 3px 0 rgba(0, 0, 0, 0.01), 0 2px 2px 0 rgba(135, 80, 255, 0.06);