$primary-500: #7fc7b7;
$primary-300: #cff1ec;
$white: #ffffff;
$neutral-1000: #030527;
$neutral-900: #0d1525;
$neutral-800: #181b39;
$neutral-200: #efefef;
$border-white-blue: #f2f5f7;

$red-500: #df7e7e;
$red-100: #fef4f4;

$blur-20: blur(20px);
$shadow-quality: 0 4px 24px 0 rgba(100, 211, 194, 0.08), 0 4px 14px 0 rgba(100, 211, 194, 0.04);
$gradient-white-alpha: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.4) 100%);
$shadow-btn: 0 2px 3px 0 rgba(0, 0, 0, 0.01), 0 2px 2px 0 rgba(135, 80, 255, 0.06);

$neutral-700: #525b5a;
$neutral-700-alt: #4a4f62;

$shadow-answers: 0 4px 24px 0 rgba(100, 211, 194, 0.08), 0 4px 14px 0 rgba(100, 211, 194, 0.04);

$gradient-content: linear-gradient(180deg, $white 0%, $primary-300 182.65%);