@font-face {
  font-family: "Sequel Sans";
  font-weight: 100 900;
  font-style: normal;
  src: url("..//fonts/Urbanist-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-style: normal;
  src: url("../fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
}