.header {
    padding-top: 16px;
  &__container {
  }

  &__logo {
    display: flex;
    width: 40px;
    height: 40px;
    gap: 8px;

  }

  &__logo-svg {
    border-radius: 8.889px;
border: 1.111px solid #FAFFFE;
background: var(--Primary-500, #5ABEAF);
box-shadow: 0 1.111px 4.444px 0 rgba(255, 255, 255, 0.35) inset, 1.111px -4.444px 4.444px 0 rgba(255, 255, 255, 0.20) inset;
  }

  &__logo-name {
    color: var(--Neutrals-800, #181B39);
text-align: center;
font-family: "Sequel Sans";
font-size: 24px;
font-weight: 325;
line-height: 1.4;
  }

  &__links {
  }

  &__link {
  }

  &__burger-img {
  }
}

.nav {
    
  &__item {
  }
}

