@use "./universal/reset.scss";
@use "./universal/font.scss";
@use "./universal/header.scss";
@use "./home/home.scss";
@use "./blog/blog.scss";
@use "./services/services.scss";
@use "./about-us/about-us.scss";
@use "./contact-us/contact-us.scss";
@use "./doctors/doctors.scss";
@use "./universal/footer.scss";
