<<<<<<< HEAD
@import "./about-us/about-us.scss"
=======
@import "./header.scss";
@import './reset.scss';
<<<<<<< Updated upstream
>>>>>>> main
=======
@import "./doctors/doctors.scss";
@import "./about-us/about-us.scss";
@import "./footer.scss";
@import "./appointment/appointment.scss";
@import "./blog/blog.scss";
>>>>>>> Stashed changes
